body {
    background-color: grey;
    padding: 3rem;
}

container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    border: 3px solid darkgrey;
}


/*Al crear el div aparece esta clase*/

box {
    background-color: #1e0;
    border: 3px solid #AABBAA;
    height: 100px;
    width: 100px;
    transition: transform 1s;
    border-radius: 10px;
}


/*Al hacerc ckick se mueve a la derecha y cambia el background a rojo*/

.evoluciona {
    background-color: #e10;
    /*Si fuera hacia debajo sería translateY*/
    transform: translateX(100px);
}


/**/

.desevoluciona {
    background-color: #10e;
}


/*Al clickar aparece chulu*/

.ultimate {
    background-color: #441155;
    content: url("cthulhu.svg");
}


/*Al pasar por encima se hace un pelin más grnade el chulu*/

.ultimate:hover {
    /* 
 
     transform:scale(1.20);

   */

  
}