$colorTexto: black;
$estilaTexto: Arial;
$negrita: bold;
%border {
    border: 1px grey solid;
    border-radius: 2px;
}

%tamañoBusqueda {
    width: 98%;
}

body {
    margin: auto;
    width: 100%;
    font-family: $estilaTexto;
    color: $colorTexto;
    font-weight: $negrita;
}

.busqueda {
    margin-left: 2%;
    .section {
        background: white;
        @extend %tamañoBusqueda;
    }
}

.resultados {
    .fallas {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-items: center;
        text-align: center;
        grid-gap: 10px;
    }
    .falla {
        display: grid;
        grid-template-rows: 1fr 50px 50px;
        @extend %border;
        align-content: center;
        justify-items: center;
        text-align: center;
    }
    img {
        @extend %border;
        margin: 5px;
        width: 400px;
        height: 300px;
    }
    button {
        @extend %border;
        width: 200px;
        height: 50px;
        background: #047bfb;
    }
}

input:nth-child(1) {
    width: 200px;
}