$colorTexto: black;
$estilaTexto: Arial;
$negrita: bold;
body {
    margin: auto;
    width: 100%;
    font-family: $estilaTexto;
    color: $colorTexto;
    font-weight: $negrita;
}

.busqueda {
    text-align: center;
}

%border {
    border: 1px grey solid;
    border-radius: 2px;
}

.resultados {
    .fallas {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;
        justify-items: center;
        text-align: center;
        grid-gap: 10px;
    }
    .falla {
        @extend %border;
    }
    img {
        @extend %border;
        margin: 5px;
        max-width: 600px;
        max-height: 400px;
    }
    button {
        @extend %border;
        width: 200px;
        height: 50px;
        background: #047bfb;
    }
}

input:nth-child(1) {
    width: 200px;
}