body {
    background-color: grey;
    padding: 3rem;
}

.top {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 250px 100px 100px;
}

button {
    width: 250px;
    height: 100px;
}

#uno {
    content: url("rotar.png");
    width: 100px;
    height: 100px;
}

#dos {
    content: url("rebote.png");
    width: 100px;
    height: 100px;
}

container {
    margin: 1rem;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 100px);
}

button {
    border: 3px solid darkgrey;
}


/*Al crear el div aparece esta clase*/

box {
    background-color: #1e0;
    border: 3px solid #AABBAA;
    height: 100px;
    width: 100px;
    transition: transform 1s;
    border-radius: 10px;
}


/*Al hacerc ckick se mueve a la derecha y cambia el background a rojo*/

.evoluciona {
    background-color: #e10;
    /*Si fuera hacia debajo sería translateY*/
    transform: translateX(130px);
}


/*Vuelve a la posicion inicial*/

.desevoluciona {
    background-color: #1e0;
}


/*Al clickar aparece chulu*/

.ultimate {
    background-color: #441155;
    content: url("cthulhu.svg");
}


/*Al pasar por encima se hace un pelin más grnade el chulu*/

.ultimate:hover {
    transform: scale(1.30);
}


/*Clase rotar que llama al keyframe y le decimos que sea linear y el tiempo de rotacion*/

.rotar {
    animation: rotar 2s infinite linear;
}


/*Keyframe rotar que gire desde 0 a 360 grados*/

@keyframes rotar {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rebotar {
    width: 142px;
    height: 142px;
    background-color: #00AA66;
    position: relative;
    margin: 0 auto;
    animation-name: rotar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


/*Keyframe que rebote desde la izquierda hacia bajo en diagonal y luego suba diagonal otra vez
y vuelva a la posición */

@keyframes rebotar {
    from {
        left: 50px;
        animation-timing-function: linear;
    }
    25% {
        left: 25px;
        animation-timing-function: linear;
    }
    50% {
        top: 50px;
        animation-timing-function: linear;
    }
    75% {
        left: 25px;
        animation-timing-function: linear;
    }
    to {
        top: 50px;
    }
}