body {
    
    width: 99%;
    height: 800px;
    background-color: beige;
}


.central{

    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: "mapa leyenda";
}


.mapa {
  
    display: grid;
    grid-template-columns: repeat(23, 50px);
    grid-template-rows: repeat(16, 50px);
    grid-area: mapa;
}
.leyenda{
    
    
    display: grid;
    grid-area: leyenda;
    
}
.camino {
    width: 50px;
    height: 50px;
    background-color: black;
}
.personaje {
    background-image: url("../images/personaje.png");
    background-size: 50px 50px;
    background-color: black;
}
.bloques {
    width: 50px;
    height: 50px;
    background-color: beige;
    background-size: 50px 50px;
}
.momia {
    background-image: url("../images/momia.png");
    background-size: 50px 50px;
    background-color: black;
}

.fondo {
    background-image: url("../images/fondo.png");
}

.huellas {
    background-image: url("../images/huella.png");
    background-size: 50px 50px;
    background-color: black;
}



h1 {
    text-align: center;
    font-size: 3em;
    color: lightblue;
}



.autobus {
    width: 50px;
    height: 50px;
   
    background-size: 50px 50px;
    background-image: url("../images/papiro.png");
}

.tirachinas {
    background-image: url("../images/key.png");
    width: 50px;
    height: 50px;
   
    background-size: 50px 50px;
}

.salida {
    background-image: url("../images/salida.png");
    width: 50px;
    height: 50px;
 
    background-size: 50px 50px;
}

.divRodeado {}

.batido {
    background-image: url("../images/puntos.png");
    width: 50px;
    height: 50px;
}

.nelson {
    background-image: url("../images/nelson.png");
  
    width: 50px;
    height: 50px;
}