.pagina {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "header header" "nav main" "footer footer";
}

header {
    grid-area: header;
    justify-self: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    justify-items: stretch;
}

footer {
    grid-area: footer;
    justify-self: center;
}